* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f7fb;
}

/* radios hidden */
input[type="radio"] {
  display: none;
}

/* Slider container */
.slider {
  width: 80%;
  max-width: 700px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.slide img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
}


/* i have add manual slide alone */
#slide1:checked ~ .slides {
  transform: translateX(0);
  animation: none;
}

#slide2:checked ~ .slides {
  transform: translateX(-100%);
  animation: none;
}

#slide3:checked ~ .slides {
  transform: translateX(-200%);
  animation: none;
}

/* nav dots */
.navigation {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navigation label {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
}

/* active dot effect */
#slide1:checked ~ .navigation label[for="slide1"],
#slide2:checked ~ .navigation label[for="slide2"],
#slide3:checked ~ .navigation label[for="slide3"] {
  opacity: 1;
  transform: scale(1.2);
}